/* Global style */
body {
  background-color: #bd9dbe;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(235, 213, 89);
  color: #8b44a7;
  padding: 16px;
  margin-bottom: 5px;
}

main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: -5px;
  background-color: #bd9dbe;
}

/* Page-specific styles */
.homepage-main, .blogPost-main {
  margin-top: 34px;
}

.user-name {
  background-color: #800fe9;
}

/* Nav style */
.navBar {
  background-color: #a265db;
}

#logout {
  background-color: #827391;
}

/* Input style */
#titleInput, #bodyInput, #comment, #email-login, #password-login, #name-signup, #email-signup, #password-signup {
  background-color: #e7cef3;
}

/* Button style */
.btn {
  background-color: #e0e776;
}

/* Card style */
.card-header {
  background-color: #d0b3eb;
}

.card-body {
  background-color: #e9f19e;
}

.card {
  background-color: #f1f38f;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: all 0.3s ease;
}